.service-container {
  padding: 12px;
  max-width: 480px;
  margin: auto;
  background: var(--bg);
  padding-bottom: 120px; /* for BottomNav */
}
.qty{
  font-size: 15px;
  color: white;
  margin: 5px;
}
.qtybutton{
  border-radius: 100%;
  font-size: 20px;

}