.ro-container {
  padding: 12px;
  max-width: 480px;
  margin: auto;
  background: var(--bg);
  padding-bottom: 120px;
}
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  resize: vertical;
}
.amc-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.amc-option input {
  width: auto;
}

.qty{
  font-size: 15px;
  color: white;
  margin: 5px;
}
.qtybutton{
  border-radius: 100%;
  font-size: 20px;

}